.itemcard-watch-tile-container {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 169px;
  transition: all 0.5s ease-out;
}

.itemcard-watch-tile {
  cursor: pointer;
  transition: all 0.5s ease;
  position: absolute;
  width: 300px;
  height: 169px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: gray;
}

.watch-tile-caption {
  font-family: "Cabin", sans-serif;
  max-width: 300px;
}

.itemcard-watch-tile-container:hover {
  filter: brightness(67%);
  transition: all 0.5s ease;
}

@media only screen and (max-width: 900px) {
  .itemcard-watch-tile {
    width: 160px;
    height: 240px;
  }
  .itemcard-watch-tile-container {
    width: 160px;
    height: 240px;
  }
}
