.season-modal-dialog {
  min-width: 60vw;
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.season-modal-container {
  padding-top: 12px;
  padding-left: 23px;
  padding-right: 20px;
  padding-bottom: 3px;
  overflow-y: auto;
  border-right: solid 3px transparent;
}

.season-modal-header {
  margin-bottom: 10px;
}

.season-modal-container::-webkit-scrollbar {
  width: 5px;
}

.season-modal-container::-webkit-scrollbar-track {
  margin-top: 20px;
  margin-bottom: 20px;
}

.season-modal-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.season-modal-info-container {
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.season-modal-info-inner {
  padding-left: 10px;
  padding-right: 20px;
}

.season-modal-info-title {
  font-family: "Cabin", sans-serif;
  font-size: 32px;
  padding-top: 10px;
}

.season-modal-info-description {
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.season-modal-info-date {
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  color: darkslategray;
}

.season-modal-poster {
  transition: all 0.5s ease;
  border-radius: 8px;
  width: 180px;
  height: 270px;
  background-color: rgba(var(--hound-primary), 1);
  object-fit: cover;
  margin-right: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.season-modal-actions-container {
  display: flex;
  padding-top: 5px;
}

.season-modal-info-button .MuiSvgIcon-root {
  font-size: 42px;
  padding: 9px;
  border-radius: 50%;
  margin-right: 0px;
  background-color: rgba(var(--hound-primary), 1);
  color: white;
}

.season-modal-info-button .MuiButtonBase-root :hover {
  filter: brightness(80%);
  color: rgba(var(--hound-secondary), 1);
  transition: all 0.4s ease;
}

.episode-card-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  max-height: 200px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
  background-color: rgba(255, 255, 255, 0.2);
}

.episode-card-img {
  min-width: 304px;
  width: 304px;
  height: 171px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../public/landscape-placeholder.jpg");
  min-height: 160px;
}

.episode-card-img-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.episode-card-img-play-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
  transition: opacity 0.6s ease;
}

.episode-card-img-container:hover .episode-card-img-play-overlay {
  opacity: 0.8;
}

.episode-card-img-play-icon {
  color: white;
  transform: scale(.85);
}

.episode-card-img-container:hover .episode-card-img-play-icon {
  transform: scale(1);
}

.episode-card-progress-pill {
  position: absolute;
  bottom: 18px;
  right: 12px;
  background-color: rgba(255,255,255,0.7);
  border-radius: 4px;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  overflow: hidden;
  z-index: 5;
}

.episode-card-progress-pill-text {
  color: black;
  font-size: 12px;
}

.episode-card-progress-bar-container {
  position: absolute;
  bottom: 8px;
  left: 12px;
  right: 12px;
  height: 5px;
  background-color: rgba(255,255,255,0.7);
  border-radius: 4px;
  overflow: hidden;
  z-index: 5;
}

.episode-card-progress-bar {
  height: 100%;
  background-color: rgba(var(--hound-primary),0.8);
  border-radius: 4px;
}

.episode-card-content {
  width: 100%;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 5px;
  padding-bottom: 10px;
  color: black;
}

.episode-card-title {
  font-size: 22px;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.episode-card-date {
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  color: darkslategray;
}

.episode-card-description {
  margin-top: 8px;
  font-family: "Cabin", sans-serif;
  font-size: 17px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.episode-card-actions {
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

#season-episode-card-dropdown-container {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Cabin", sans-serif;
}

#season-episode-card-dropdown {
  margin: auto;
  background-color: transparent !important;
  background: none !important;
  box-shadow: none !important;
  color: gray;
}

#season-episode-card-dropdown-container .dropdown-toggle::after {
  display: none !important; /* hides the dropdown arrow */
}

#season-episode-card-dropdown-container .dropdown-item:active {
  background-color: transparent !important;
  color: inherit !important;
}

@media only screen and (min-width: 600px) and (max-width: 1400px) {
  .season-modal-dialog {
    min-width: 90vw;
    max-width: 90vw;
  }
  .episode-card-img {
    min-width: 25%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 600px) {
  .season-modal-dialog {
    min-width: 100vw;
    max-width: 100vw;
  }
  .season-episode-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .season-modal-actions-container {
    /* display: flex;
        width: fit-content;
        flex-direction: column;
        padding-top: 5px; */
  }
  .episode-card-container {
    min-width: 100;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    max-height: fit-content;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .episode-card-content {
    width: 100%;
    max-height: 200px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .episode-card-img {
    width: 100%;
    aspect-ratio: 16 / 5;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../../public/landscape-placeholder.jpg");
  }
  .episode-card-title {
    font-size: 24px;
  }
  .episode-card-date {
    font-size: 16px;
  }
  .episode-card-description {
    font-size: 18px;
  }
}
