.stream-select-modal-dialog {
  min-width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.stream-info-card-container {
  padding-top: 23px;
  padding-left: 3px;
  padding-bottom: 3px;
  overflow-y: auto;
  border-right: solid 3px transparent;
}

.stream-info-card-container::-webkit-scrollbar {
  width: 5px;
}

.stream-info-card-container::-webkit-scrollbar-track {
  margin-top: 20px;
  margin-bottom: 20px;
}

.stream-info-card-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.stream-info-card {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.stream-info-card-title {
  font-size: 22px;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.stream-info-top {
  margin-bottom: 10px;
}

.stream-info-card-subtitle {
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  color: darkslategray;
  white-space: pre-line;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stream-info-card-footer-buttons {
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.08);
  border: none;
}

.stream-info-card-footer-buttons:hover {
  background-color: rgba(0, 0, 0, 0.16);
}