.collection-main-section {
    padding-top: 30px;
}

.collection-items-list-container {
    padding-top: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    min-width: 60%;
}

.collection-cover {
    margin-bottom: 30px;
    display: flex;
}

.collection-cover-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.collection-cover-main-title {
    font-family: 'Cabin', sans-serif;
    font-size: 35px;
}

.collection-cover-main-description {
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
}

.collection-empty-message {
    font-family: 'Cabin', sans-serif;
    font-size: 22px;
}

.collection-item-date {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    color: darkslategray
}

.collection-cover .collection-card-cover {
    background-color: rgba(var(--hound-primary), 1);
    color: rgba(var(--hound-secondary), 1);
}

.paginator-container {
    padding: 0.5em;
    border-radius: 1.5em;
    background-color: rgba(var(--hound-primary), 1);
    width: fit-content;
}

.MuiPagination-root {
    background-color: rgba(var(--hound-primary), 1);
}

.MuiPagination-root .MuiPaginationItem-root {
    color: rgba(var(--hound-secondary), 1) !important;
    font-family: 'Cabin', sans-serif !important;
    font-weight: 400 !important;
}

.MuiPagination-root .MuiButtonBase-root:hover {
    background-color: rgba(255, 255, 0, 0.3) !important;
    transition: "all 0.5s ease",
}

.MuiPagination-root .Mui-selected {
    color: rgba(var(--hound-primary), 1) !important;
    background-color: rgba(var(--hound-secondary), 1) !important;
}

.MuiPagination-root .Mui-selected {
    color: rgba(var(--hound-primary), 1) !important;
    background-color: rgba(var(--hound-secondary), 1) !important;
}

.MuiPagination-root .Mui-selected:hover {
    color: rgba(var(--hound-primary), 1) !important;
    background-color: rgba(var(--hound-secondary), 1) !important;
}