.home-page-search-section {
  height: 350px;
  background: url('https://image.tmdb.org/t/p/original/6Lw54zxm6BAEKJeGlabyzzR5Juu.jpg') no-repeat;
  background-size: cover;
  animation: backgroundScroll 150s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}


.home-page-main-section {
  padding-top: 30px;
  padding-bottom: 30px;
  /* background-color: rgba(var(--hound-primary), 1);
  color: white; */
}

@media only screen and (max-width:600px) {
  .home-page-search-section {
    height: 200px;
  }
}
  
@keyframes backgroundScroll {
  0%   {background-position: 0 0%;}
  50%  {background-position: 0 60%;}
  100% {background-position: 0 0%;}
}