/* chrome and chromium based */
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
  
.horizontal-section {
    margin-left: 50px;
    margin-right: 50px;
}

/* .react-horizontal-scrolling-menu--scroll-container {
    mask: linear-gradient(90deg,rgba(255,255,255,1) 85%, rgba(200, 200, 200, 0) 100%);
} */

.horizontal-section-header-separator {
    padding-left: 10px;
    padding-right: 10px;
    color: inherit;
    opacity: 70%;
    font-size: 30px;
}

.horizontal-section-header {
    user-select: none;
    font-size: 35px;
    font-family: 'Cabin Condensed', sans-serif;
    color: inherit;
    width: fit-content;
    margin-left: 40px;
    margin-bottom: 15px;
}

@media only screen and (max-width:600px) {
    .horizontal-section-header {
        font-size: 1.3em;
    }
}

.react-horizontal-scrolling-menu--arrow-left .btn {
    padding-left: 5px;
    padding-right: 5px;
}

.react-horizontal-scrolling-menu--arrow-right .btn {
    padding-left: 5px;
    padding-right: 5px;
}

.video-button-trigger {
    width: 480px;
    height: 270px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 82px;
    /* border: rgba(var(--hound-primary), 1.0) solid 2px; */
}

.video-button-trigger :hover {
    color: rgba(255, 255, 255, 0.55);
    transition: all 0.5s ease;
}