.search-bar-div {
    display: inline-block;
}

.search-bar-container {
    display: flex;
    align-items: center;
    font-size: 20px;
    width: 450px;
    opacity: 85%;
}

.search-bar-button {
    display: block;
    margin-left: 15px;
    background-color: blue;
    height: 100%;
    width: 100%;
}

form.search-bar-container input[type=text] {
    padding: 10px;
    padding-left: 20px;
    outline: none;
    border: none;
    float: left;
    width: 400px;
    background: rgb(236, 236, 241)
}

::selection {
    color: white;
    background: rgba(var(--hound-primary), 1);
}

form.search-bar-container ::placeholder {
    color: rgb(38, 32, 69);    
}
  
form.search-bar-container button {
    font-size: large;
    width: 50px;
    height: 50px;
    padding: 10px;
    background: rgba(var(--hound-primary), 1);
    color: white;
    border: none;
    cursor: pointer;
}

form.search-bar-container button:hover {
    background: rgb(14, 5, 71);
}

/* Clear floats */
form.search-bar-container::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 600px) {
    form.search-bar-container {
        width: 300px;
        display: flex;
        align-items: center;
        font-size: 16px;
    }
    form.search-bar-container input[type=text] {
        width: 256px;
    }
    form.search-bar-container button {
        font-size: 14px;
        width: 44px;
        height: 44px;
        padding: 0px;
        background: rgba(var(--hound-primary), 1);
        color: white;
        border: none;
        cursor: pointer; 
    }
}