.media-page-tv-header {
    padding-bottom: 40px;
    min-height: 400px;
    font-size: large;
}

.media-page-tv-inline-container {
    display: flex;
    flex-direction: row;
}

.media-page-tv-header-container {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 100px;
    color: white;
    display: inline-block;
}

.media-page-tv-poster-container {
    display: inline-flex;
}

.media-page-tv-poster {
    width: 200px !important;
    height: 300px !important;
    transition: all 0.5s ease;
    display: inline-flex;
    border-radius: 6px;
    border: solid rgba(255, 255, 255, 0.8) 2px;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.media-page-tv-poster-skeleton {
    background-color: rgba(255, 255, 255, 0.3) !important;
    width: 200px !important;
    height: 300px !important;
}

.media-page-tv-header-info {
    margin-left: 40px;
    margin-top: 25px;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

.media-page-tv-header-title {
    font-size: 40px;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

.media-page-tv-header-year {
    margin-left: 5px;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.65);
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

.media-page-tv-header-genres {
    font-size: 15px;
    color: rgba(255, 255, 0, 0.8);
}

.media-page-tv-header-credits {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    margin-top: 10px;
}

.media-page-tv-header-overview {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Cabin', sans-serif;
    margin-top: 5px;
    width: 65%;
}

.media-page-tv-overview {
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
    color: rgb(195, 195, 195);
    font-size: medium;
    overflow: hidden;
    white-space: break-spaces;
    text-overflow: ellipsis;
}

.media-page-tv-brief {
    height: 150px;
    color: white;
    display: inline-block;
    /* background-color: rgba(255, 255, 255, 0.4); */
    width: 100%;
}

.media-page-tv-header-button-container {
    margin-top: 10px;
}

.media-page-tv-header-button-container .MuiSvgIcon-root {
    font-size: 42px;
    padding: 9px;
    border-radius: 50%;
    margin-right: 0px;
    background-color: rgba(var(--hound-secondary), 0.85);
    color: rgba(var(--hound-primary), 1);
}

.media-page-tv-header-button-container .MuiButtonBase-root :hover {
    background-color: rgba(var(--hound-secondary), 0.55);
    /* background-color:     rgba(var(--hound-primary), 0.85);
    color: rgba(var(--hound-secondary), 0.85); */
    transition: all 0.4s ease,
}

#media-page-tv-header-history-button {
    padding: 10px;
}

.media-page-tv-header-button-tooltip-title {
    color: white;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
}

.media-page-tv-main {
    padding-top: 30px;
    padding-bottom: 70px;
    /* background-color: rgba(255, 255, 255); */
}

.media-page-section-header {
    font-size: 30px;
    margin-bottom: 5px;
    font-family: 'Cabin', sans-serif;
}

.media-page-storyline {
    padding-top: 30px;
    margin-left: 85px;
    margin-bottom: 15px;
    width: 70%;
    font-family: 'Cabin', sans-serif;
}

.media-page-tv-footer {
    height: 0vh;
}

.media-page-tv-main-videos-section {
    margin-bottom: 150px;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
}

.progress-margin {
    margin-bottom: 1000px;
}

.stream-play-button {
    margin-right: 16px;
    color: rgba(var(--hound-primary), 1);
}

.stream-play-button-spinner {
    margin-left: 15px;
}

.stream-play-button .btn {
    width: 150px;
}

.stream-play-button .dropdown-toggle {
    width: 30px;
}

.stream-play-button > .btn,
.stream-play-button > .dropdown-toggle {
    height: 42px;
    background-color: rgba(var(--hound-secondary), 0.85);
    color: rgba(var(--hound-primary), 1);
    border: none !important;
    box-shadow: none !important;
}

.stream-play-button > .dropdown-toggle {
  margin-left: 0 !important;
  border-left: none !important;
}

.stream-play-button > .dropdown-toggle::after {
  margin-left: 0 !important;
  padding-left: 0;
}

#stream-select-button-loading {
    align-items: center;
}

.stream-play-button > .btn:hover,
.stream-play-button > .dropdown-toggle:hover {
    color: rgba(var(--hound-primary), 1);
    background-color: rgba(var(--hound-secondary), 0.55);
    border-color: rgba(var(--hound-secondary), 0.55);
    transition: all 0.4s ease,
}

@media only screen and (max-width:900px) {
    .media-page-tv-inline-container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .media-page-tv-poster-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .media-page-tv-header {
        display: flex;
        justify-content: center;
    }
    .media-page-tv-header-title {
        font-size: 32px;
    }
    .media-page-tv-header-overview {
        width: 100%;
    }
    .media-page-tv-header-container {
        margin: auto;
        width: 80%;
    }
    .media-page-tv-header-info {
        margin-left: 0;
    }
}
