.footer-main-section {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: rgba(var(--hound-primary), 1);
    padding-top: 100px;
}

.footer-logo-header {
    color: white;
    font-size: 42px;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.footer-logo-container {
    display: flex;
    justify-content: center;
}

#tmdb-logo {
    
    width: 180px;
    margin-right: 30px;
}

#igdb-logo {
    width: 180px;
    margin-left: 30px;
    filter: invert(96%) sepia(0%) saturate(150%) hue-rotate(311deg) brightness(119%) contrast(100%);
}