.search-page-search-section {
    height: 350px;
    background-size: cover;
    animation: backgroundScroll 150s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-page-main-section {
    margin-top: 30px;
    margin-bottom: 70px;
  }

  .search-page-no-results {
    margin-left: 90px;
  }
  
  @media only screen and (max-width:600px) {
    .search-page-search-section {
      height: 200px;
    }
  }